<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cartoonist Portfolio</title>
        {% load staticfiles%}
        <link rel="stylesheet" href="{% staticfiles 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="#gallery">Gallery</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>
            <h2>Upload a New Cartoon</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Upload</button>
            </form>
    </body>
</html>
